@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

@media(max-width: 1800px) {
    html {
        font-size: 93.75%;
    }
}
@media(max-width: 720) {
    html {
        font-size: 87.5%;
    }
}

a, link {
    text-decoration: none;
}

body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
}